*{
	margin: 0;
	padding: 0;
}
div1{
	background-image: url('cur4.jpg');
	background-size: cover;
}
.post{
width: 300px;
	height:190px;
	position: absolute;
	left: 20%;
	top: 20%;
	box-shadow: 4px 4px 8px 4px grey;
	background-size: cover;
	transition: transform 2s;
	text-transform: uppercase;
	margin-top: 70px;
}
.post:hover{
	transform: skewX(10deg);
}
.logo{
	font-size: 40px;
	font-family: 'Fondamento';
	text-transform: uppercase;
	padding-left: 30%;
	padding-top: 5px;
	box-shadow: 4px 2px 8px 3px grey;
}
.list{
	width: 365px;
	margin-top: 70px;

	height:138px;
	text-transform: uppercase;
	position: absolute;
	left: 55%;
	top: 20%;
	box-shadow: 4px 4px 8px 4px grey;
	background-size: cover;
	transition: transform 3s;
}
.list:hover{
	transform: rotate(360deg);
}
.interview{
width: 300px;
background-size: cover;
	height: 167px;
	text-transform: uppercase;
	margin-top: 70px;

	position: absolute;
	left: 20%;
	top: 60%;
	box-shadow: 4px 4px 8px 4px grey;
	transition: transform 3s;
}
.interview:hover{
	transform: rotate(360deg);
}
.queries{
	width: 300px;
	height: 168px;
	background-size: cover;
	text-transform: uppercase;
	margin-top: 70px;

	position: absolute;
	left: 55%;
	top: 60%;
	box-shadow: 4px 4px 8px 4px grey;
	transition: transform 2s;
}
.queries:hover{
	transform: skewY(10deg);
}
.figjob{
	font-size: 25px;
	font-style: italic;
	padding-top: 23px;
	font-weight: 600;
	word-spacing: 2px;
	letter-spacing: 1px;
}
.figcan{
	font-weight: 600;
	word-spacing: 2px;
	letter-spacing: 1px;
	font-size: 25px;
	font-style: italic;
	padding-top: 5px;
}
.figint{
	font-weight: 600;
	word-spacing: 2px;
	letter-spacing: 1px;
	font-size: 25px;
	font-style: italic;
	padding-top: 5px;
}
.figque{
	font-weight: 600;
	word-spacing: 2px;
	letter-spacing: 1px;
	font-size: 25px;
	font-style: italic;
	padding-top: 5px;
}
@media screen and (max-width: 1000px)
{
	.logo{
		font-size: 38px;
	}
	.post{
		width: 250px;
		height: 170px;

	}
	.post img{
		width: 250px;
		height: 170px;
	}
	.interview{
		width: 250px;
		height: 170px;

	}
	.interview img{
		width: 250px;
		height: 170px;
	}
	.list{
		width: 250px;
		height: 170px;

	}
	.list img{
		width: 250px;
		height: 170px;
	}
	.queries{
		width: 250px;
		height: 170px;

	}
	.queries img{
		width: 250px;
		height: 170px;
	}
	.figjob{
		font-size: 20px;
	}
	.figint{
		font-size: 20px;
	}
	.figcan{
		font-size: 20px;
	}
	.figque{
		font-size: 20px;
	}

}
@media screen and (max-width: 900px)
{
	.logo{
		font-size: 32px;
	}
	.post{
		width: 220px;
		height: 120px;

	}
	.post img{
		width: 220px;
		height: 140px;
	}
	.interview{
		width: 220px;
		height: 140px;

	}
	.interview img{
		width: 220px;
		height: 140px;
	}
	.list{
		width: 220px;
		height: 140px;

	}
	.list img{
		width: 220px;
		height: 140px;
	}
	.queries{
		width: 220px;
		height: 140px;

	}
	.queries img{
		width: 220px;
		height: 140px;
	}
	.figjob{
		font-size: 18px;
	}
	.figint{
		font-size: 18px;
	}
	.figcan{
		font-size: 18px;
	}
	.figque{
		font-size: 18px;
	}

}
@media screen and (max-width: 700px)
{
	.logo{
		font-size: 25px;
	}
	.post{
		width: 180px;
		height: 120px;

	}
	.post img{
		width: 180px;
		height: 120px;
	}
	.interview{
		width: 180px;
		height: 120px;

	}
	.interview img{
		width: 180px;
		height: 120px;
	}
	.list{
		width: 180px;
		height: 120px;

	}
	.list img{
		width: 180px;
		height: 120px;
	}
	.queries{
		width: 180px;
		height: 120px;

	}
	.queries img{
		width: 180px;
		height: 120px;
	}
	.figjob{
		font-size: 18px;
	}
	.figint{
		font-size: 18px;
	}
	.figcan{
		font-size: 18px;
	}
	.figque{
		font-size: 18px;
	}

}

@media screen and (max-width: 550px)
{
	.logo{
		font-size: 25px;
	}
	.post{
		width: 160px;
		height: 110px;

	}
	.post img{
		width: 160px;
		height: 110px;
	}
	.interview{
		width: 160px;
		height: 110px;

	}
	.interview img{
		width: 160px;
		height: 110px;
	}
	.list{
		width: 160px;
		height: 110px;

	}
	.list img{
		width: 160px;
		height: 110px;
	}
	.queries{
		width: 160px;
		height: 110px;
	}
	.queries img{
		width: 160px;
		height: 110px;
	}
	.figjob{
		font-size: 16px;
	}
	.figint{
		font-size: 16px;
	}
	.figcan{
		font-size: 16px;
	}
	.figque{
		font-size: 16px;
	}
}
